In [1]:
import numpy as np
import pandas as pd

In [2]:
columns = ['CA1','CA2','CA3']
rows = np.arange(1,41)
np.random.seed(1)
scores = np.random.randint(6,10,120)
scores =scores.reshape(40,3)

student_score = pd.DataFrame(data = scores, index = rows, columns =  columns)
student_score

    CA1  CA2  CA3
1     7    9    6
2     6    9    7
3     9    7    9
4     6    6    7
5     6    9    7
6     6    8    7
7     8    6    8
8     7    8    6
9     9    6    8
10    6    7    8
11    8    6    9
12    9    7    7
13    9    8    6
14    8    7    7
15    7    9    9
16    7    8    7
17    7    6    6
18    7    6    6
19    7    9    9
20    8    7    6
21    8    9    9
22    8    7    7
23    7    9    6
24    6    7    9
25    6    8    6
26    6    7    9
27    7    8    9
28    6    6    7
29    9    8    9
30    9    8    7
31    6    8    7
32    9    9    8
33    9    7    6
34    9    7    7
35    9    8    6
36    6    8    8
37    9    9    9
38    9    7    9
39    9    6    8
40    8    8    6

In [3]:
student_score['CA2']# RETRIVING A SINGLE COLUMN

1     9
2     9
3     7
4     6
5     9
6     8
7     6
8     8
9     6
10    7
11    6
12    7
13    8
14    7
15    9
16    8
17    6
18    6
19    9
20    7
21    9
22    7
23    9
24    7
25    8
26    7
27    8
28    6
29    8
30    8
31    8
32    9
33    7
34    7
35    8
36    8
37    9
38    7
39    6
40    8
Name: CA2, dtype: int32

In [5]:
student_score[['CA1','CA3']]# RETRIVING MORE THAN ONE COLUMN

    CA1  CA3
1     7    6
2     6    7
3     9    9
4     6    7
5     6    7
6     6    7
7     8    8
8     7    6
9     9    8
10    6    8
11    8    9
12    9    7
13    9    6
14    8    7
15    7    9
16    7    7
17    7    6
18    7    6
19    7    9
20    8    6
21    8    9
22    8    7
23    7    6
24    6    9
25    6    6
26    6    9
27    7    9
28    6    7
29    9    9
30    9    7
31    6    7
32    9    8
33    9    6
34    9    7
35    9    6
36    6    8
37    9    9
38    9    9
39    9    8
40    8    6

In [6]:
student_score.loc[5] #RETRIVING VALUES BASED ON

CA1    6
CA2    9
CA3    7
Name: 5, dtype: int32

In [7]:
student_score.loc[[5,7,15,20]] #RETRIVING MORE THAN ONE ROW BASED SET INDEX

    CA1  CA2  CA3
5     6    9    7
7     8    6    8
15    7    9    9
20    8    7    6

In [8]:
student_score.iloc[4] #retriving values based on default

CA1    6
CA2    9
CA3    7
Name: 5, dtype: int32

In [10]:
student_score.iloc[[4,7,10,24]] #retriving more than row based on default index

    CA1  CA2  CA3
5     6    9    7
8     7    8    6
11    8    6    9
25    6    8    6

In [11]:
student_score.iloc[14:25,0:2] #retriving  a subset of rows and columns

    CA1  CA2
15    7    9
16    7    8
17    7    6
18    7    6
19    7    9
20    8    7
21    8    9
22    8    7
23    7    9
24    6    7
25    6    8

In [19]:
#age = np.random.randint(10,15,40).reshape(40,1)
#student_score.insert(loc=0,column = 'Age',value=age)#creating a new column at the beginning of the dataframe.

In [17]:
student_score

    Age  CA1  CA2  CA3
1    10    7    9    6
2    11    6    9    7
3    11    9    7    9
4    13    6    6    7
5    10    6    9    7
6    10    6    8    7
7    14    8    6    8
8    12    7    8    6
9    14    9    6    8
10   13    6    7    8
11   13    8    6    9
12   10    9    7    7
13   13    9    8    6
14   14    8    7    7
15   13    7    9    9
16   14    7    8    7
17   14    7    6    6
18   14    7    6    6
19   11    7    9    9
20   10    8    7    6
21   14    8    9    9
22   12    8    7    7
23   10    7    9    6
24   12    6    7    9
25   14    6    8    6
26   11    6    7    9
27   11    7    8    9
28   10    6    6    7
29   12    9    8    9
30   14    9    8    7
31   14    6    8    7
32   10    9    9    8
33   14    9    7    6
34   11    9    7    7
35   14    9    8    6
36   11    6    8    8
37   10    9    9    9
38   12    9    7    9
39   13    9    6    8
40   11    8    8    6

In [20]:
student_score['Exams'] = np.random.randint(30,65,40). reshape(40,1)#creating a new column at the end of the dataframe
student_score

    Age  CA1  CA2  CA3  Exams
1    10    7    9    6     56
2    11    6    9    7     52
3    11    9    7    9     37
4    13    6    6    7     64
5    10    6    9    7     62
6    10    6    8    7     49
7    14    8    6    8     33
8    12    7    8    6     54
9    14    9    6    8     49
10   13    6    7    8     60
11   13    8    6    9     35
12   10    9    7    7     45
13   13    9    8    6     53
14   14    8    7    7     62
15   13    7    9    9     40
16   14    7    8    7     32
17   14    7    6    6     54
18   14    7    6    6     64
19   11    7    9    9     60
20   10    8    7    6     47
21   14    8    9    9     34
22   12    8    7    7     30
23   10    7    9    6     44
24   12    6    7    9     47
25   14    6    8    6     47
26   11    6    7    9     58
27   11    7    8    9     52
28   10    6    6    7     40
29   12    9    8    9     43
30   14    9    8    7     36
31   14    6    8    7     55
32   10    9    9    8     30
33   14    9    7    6     52
34   11    9    7    7     46
35   14    9    8    6     49
36   11    6    8    8     39
37   10    9    9    9     58
38   12    9    7    9     40
39   13    9    6    8     34
40   11    8    8    6     53

In [22]:
student_score['TotalScore']=student_score['CA1'] + student_score['CA2'] + student_score['CA3'] + student_score['Exams']#creating a new column from existing column

student_score

    Age  CA1  CA2  CA3  Exams  TotalScore
1    10    7    9    6     56          78
2    11    6    9    7     52          74
3    11    9    7    9     37          62
4    13    6    6    7     64          83
5    10    6    9    7     62          84
6    10    6    8    7     49          70
7    14    8    6    8     33          55
8    12    7    8    6     54          75
9    14    9    6    8     49          72
10   13    6    7    8     60          81
11   13    8    6    9     35          58
12   10    9    7    7     45          68
13   13    9    8    6     53          76
14   14    8    7    7     62          84
15   13    7    9    9     40          65
16   14    7    8    7     32          54
17   14    7    6    6     54          73
18   14    7    6    6     64          83
19   11    7    9    9     60          85
20   10    8    7    6     47          68
21   14    8    9    9     34          60
22   12    8    7    7     30          52
23   10    7    9    6     44          66
24   12    6    7    9     47          69
25   14    6    8    6     47          67
26   11    6    7    9     58          80
27   11    7    8    9     52          76
28   10    6    6    7     40          59
29   12    9    8    9     43          69
30   14    9    8    7     36          60
31   14    6    8    7     55          76
32   10    9    9    8     30          56
33   14    9    7    6     52          74
34   11    9    7    7     46          69
35   14    9    8    6     49          72
36   11    6    8    8     39          61
37   10    9    9    9     58          85
38   12    9    7    9     40          65
39   13    9    6    8     34          57
40   11    8    8    6     53          75

In [25]:
student_score.loc['Empty'] = 0 #creating a new row
student_score

       Age  CA1  CA2  CA3  Exams  TotalScore
1       10    7    9    6     56          78
2       11    6    9    7     52          74
3       11    9    7    9     37          62
4       13    6    6    7     64          83
5       10    6    9    7     62          84
6       10    6    8    7     49          70
7       14    8    6    8     33          55
8       12    7    8    6     54          75
9       14    9    6    8     49          72
10      13    6    7    8     60          81
11      13    8    6    9     35          58
12      10    9    7    7     45          68
13      13    9    8    6     53          76
14      14    8    7    7     62          84
15      13    7    9    9     40          65
16      14    7    8    7     32          54
17      14    7    6    6     54          73
18      14    7    6    6     64          83
19      11    7    9    9     60          85
20      10    8    7    6     47          68
21      14    8    9    9     34          60
22      12    8    7    7     30          52
23      10    7    9    6     44          66
24      12    6    7    9     47          69
25      14    6    8    6     47          67
26      11    6    7    9     58          80
27      11    7    8    9     52          76
28      10    6    6    7     40          59
29      12    9    8    9     43          69
30      14    9    8    7     36          60
31      14    6    8    7     55          76
32      10    9    9    8     30          56
33      14    9    7    6     52          74
34      11    9    7    7     46          69
35      14    9    8    6     49          72
36      11    6    8    8     39          61
37      10    9    9    9     58          85
38      12    9    7    9     40          65
39      13    9    6    8     34          57
40      11    8    8    6     53          75
Empty    0    0    0    0      0           0

In [26]:
student_score.drop('TotalScore',axis = 1,inplace =True)
student_score.drop('Empty',axis =0,inplace =True)
student_score
#dropping rows and columns, where axis set 0 means what you want to drop is located on the row axis while axis set to 1 means what you want to drop is located on the column axis

    Age  CA1  CA2  CA3  Exams
1    10    7    9    6     56
2    11    6    9    7     52
3    11    9    7    9     37
4    13    6    6    7     64
5    10    6    9    7     62
6    10    6    8    7     49
7    14    8    6    8     33
8    12    7    8    6     54
9    14    9    6    8     49
10   13    6    7    8     60
11   13    8    6    9     35
12   10    9    7    7     45
13   13    9    8    6     53
14   14    8    7    7     62
15   13    7    9    9     40
16   14    7    8    7     32
17   14    7    6    6     54
18   14    7    6    6     64
19   11    7    9    9     60
20   10    8    7    6     47
21   14    8    9    9     34
22   12    8    7    7     30
23   10    7    9    6     44
24   12    6    7    9     47
25   14    6    8    6     47
26   11    6    7    9     58
27   11    7    8    9     52
28   10    6    6    7     40
29   12    9    8    9     43
30   14    9    8    7     36
31   14    6    8    7     55
32   10    9    9    8     30
33   14    9    7    6     52
34   11    9    7    7     46
35   14    9    8    6     49
36   11    6    8    8     39
37   10    9    9    9     58
38   12    9    7    9     40
39   13    9    6    8     34
40   11    8    8    6     53

In [27]:
student_score.columns #retriving all column names

Index(['Age', 'CA1', 'CA2', 'CA3', 'Exams'], dtype='object')

In [28]:
student_score.rename({'Age':'AGE', 'CA1':'FIRSTCA', 'CA2':'SECONDCA', 'CA3':'THIRDCA', 'Exams':'EXAMsSCORES'},axis=1,inplace=True)

student_score

    AGE  FIRSTCA  SECONDCA  THIRDCA  EXAMsSCORES
1    10        7         9        6           56
2    11        6         9        7           52
3    11        9         7        9           37
4    13        6         6        7           64
5    10        6         9        7           62
6    10        6         8        7           49
7    14        8         6        8           33
8    12        7         8        6           54
9    14        9         6        8           49
10   13        6         7        8           60
11   13        8         6        9           35
12   10        9         7        7           45
13   13        9         8        6           53
14   14        8         7        7           62
15   13        7         9        9           40
16   14        7         8        7           32
17   14        7         6        6           54
18   14        7         6        6           64
19   11        7         9        9           60
20   10        8         7        6           47
21   14        8         9        9           34
22   12        8         7        7           30
23   10        7         9        6           44
24   12        6         7        9           47
25   14        6         8        6           47
26   11        6         7        9           58
27   11        7         8        9           52
28   10        6         6        7           40
29   12        9         8        9           43
30   14        9         8        7           36
31   14        6         8        7           55
32   10        9         9        8           30
33   14        9         7        6           52
34   11        9         7        7           46
35   14        9         8        6           49
36   11        6         8        8           39
37   10        9         9        9           58
38   12        9         7        9           40
39   13        9         6        8           34
40   11        8         8        6           53

In [32]:
student_score['AGE'].unique() #unique numbers that appear more often

array([10, 11, 13, 14, 12], dtype=int64)

In [33]:
student_score['AGE'].nunique() #number of the unique

5

In [34]:
student_score['AGE'].value_counts() #number of the frequency apperance

14    12
10     9
11     8
13     6
12     5
Name: AGE, dtype: int64